<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lecture</title>
  <link rel="stylesheet" href="{% static 'style-teacher.css'%}">
</head>
<body>
<div class="header disp">
  <div class="logo">
    <p class="logo-text disp"><b>EduQual</b></p>
  </div>
  <div class="menu disp">
    <img class="item icon" src="{% static 'images/icons8-stack-of-coins-64.png'%} " alt="">
    <img class="item icon" src="{% static 'images/icons8-user-50.png'%} " alt="">
  </div>
</div>
<div class="poll-page disp-centr">
  <div class="poll disp">
    <div class="hr-date text">Лекція 23.05</div>

    <div class="hr-text disp">
      <p class="text">Предмет: </p>
      <p class="text">Українська мова</p>
    </div>

    <div class="question disp">
      <div class="mark disp">
        <p class="text">Оцініть інформативність лекції:</p>
        <div class="rating-result disp-centr">
          <span class="active"></span>
          <span class="active"></span>
          <span class="active"></span>
          <span></span>
          <span></span>
          <div class="mark  text">
            <p>3.3</p>
          </div>
        </div>
      </div>
    </div>
    <div class="question disp">
      <div class="mark disp">
        <p class="text">Оцініть актуальніть предмету:</p>
        <div class="rating-result disp-centr">
          <span class="active"></span>
          <span class="active"></span>
          <span class="active"></span>
          <span></span>
          <span></span>
          <div class="mark  text">
            <p>3.3</p>
          </div>
        </div>
      </div>
    </div>

    <div class="hr-text disp">
      <p class="text">Викладач: </p>
      <p class="text">Максим Іванович</p>
    </div>

    <div class="question disp">
      <div class="mark disp">
        <p class="text">Наскільки зрозумілою була лекція?</p>
        <div class="rating-result disp-centr">
          <span class="active"></span>
          <span class="active"></span>
          <span class="active"></span>
          <span></span>
          <span></span>
          <div class="mark  text">
            <p>3.3</p>
          </div>
        </div>
      </div>
    </div>
    <div class="question disp">
      <div class="mark disp">
        <p class="text">Наскільки цікавою була лекція?</p>
        <div class="rating-result disp-centr">
          <span class="active"></span>
          <span class="active"></span>
          <span class="active"></span>
          <span></span>
          <span></span>
          <div class="mark  text">
            <p>3.3</p>
          </div>
        </div>
      </div>
    </div>

    <div class="hr-date-pr text">Практичні заняття 23.05</div>
    <div class="hr-text disp">
      <p class="text">Предмет: </p>
      <p class="text">Українська мова</p>
    </div>
    <div class="question disp">
      <div class="mark disp">
        <p class="text">Чи допомгла вам практична, щоб краще розібратися в темі?</p>
        <div class="rating-result disp-centr">
          <span class="active"></span>
          <span class="active"></span>
          <span class="active"></span>
          <span></span>
          <span></span>
          <div class="mark  text">
            <p>3.3</p>
          </div>
        </div>
      </div>
    </div>

    <div class="hr-text disp">
      <p class="text">Викладач: </p>
      <p class="text">Максим Іванович</p>
    </div>
    <div class="question disp">
      <div class="mark disp">
        <p class="text">Наскільки зрозуміло викладач поснив дану тему?</p>
        <div class="rating-result disp-centr">
          <span class="active"></span>
          <span class="active"></span>
          <span class="active"></span>
          <span></span>
          <span></span>
          <div class="mark  text">
            <p>3.3</p>
          </div>
        </div>
      </div>
    </div>

    <div class="hr-date-pr text">Лабораторна робота 23.05</div>
    <div class="hr-text disp">
      <p class="text">Предмет: </p>
      <p class="text">Українська мова</p>
    </div>
    <div class="question disp">
      <div class="mark disp">
        <p class="text">Наскільки цікаво було виконувати лабораторну роботу?</p>
        <div class="rating-result disp-centr">
          <span class="active"></span>
          <span class="active"></span>
          <span class="active"></span>
          <span></span>
          <span></span>
          <div class="mark  text">
            <p>3.3</p>
          </div>
        </div>
      </div>
    </div>

    <div class="hr-text disp-centr">
      <p class="text">Викладач: </p>
      <p class="text">Максим Іванович</p>
    </div>
    <div class="question disp">
      <div class="mark disp">
        <p class="text">Наскільки об'єктивно викладач оцінив вашу роботу?</p>
        <div class="rating-result disp-centr">
          <span class="active"></span>
          <span class="active"></span>
          <span class="active"></span>
          <span></span>
          <span></span>
          <div class="mark  text">
            <p>3.3</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<div class="sixth-page">
  <div class="text-six">Copyright Velocity Inc. Made in Webflow.</div>
</div>
</body>
</html>