<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style_sub.css">
</head>
<body>
<div class="header disp">
    <div class="logo">
        <p class="logo-text disp"><b>EduQual</b></p>
    </div>
    <div class="menu disp">
        <img class="item icon" src="{% static 'images/icons8-stack-of-coins-64.png' %}">
        <img class="item icon" src="{% static 'images/icons8-user-50.png' %}">
    </div>
</div>
    <div class="subject-box disp-centr">
        <div class="sub">
            <p class="text">Мат Анал</p>
            <p class="text">Інгліш</p>
            <p class="text">Об'єктно-орієнтоване програмування</p>
            <p class="text">Мат Анал</p>
            <p class="text">Інгліш</p>
            <p class="text">Об'єктно-орієнтоване програмування</p>
            <p class="text">Мат Анал</p>
            <p class="text">Інгліш</p>
        </div>
    </div>
    <div class="sixth-page">
        <div class="text-six">Copyright Velocity Inc. Made in Webflow.</div>
    </div>
</body>
</html>