{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="header">
        <div class="logo">
            <p class="logo-text">EduQual</p>
        </div>
        <div class="menu">
            <div class="item">About</div>
            <div class="item">Log in</div>

        </div>
    </div>
    <div class="main-page">
        <div class="photo"></div>
        <div class="info">
            <p class="p1">plataforma all in one</p>
            <p class="p2">Sua escola online poderosa e lucrativa</p>
            <p class="p3">Tenha sua própria escola online 100% white
                label com rede social, gamificação, clube de assinaturas,
                ecommerce e sistema EAD completo.</p>
            <div class="button"><span class="butt-text">Saiba Mais</span></div>
        </div>
        <div class="block">
            <div class="top">
                <img class="icon" src="{% static 'images/star.png' %}" alt="">
                <p class="top-text">Já faz parte da Ensinio?
                    Acesse sua conta.</p>
                <div class="button"><span class="butt-text">Entrar</span></div>
            </div>
            <div class="top marg">
                <img class="icon" src="{% static 'images/star.png' %}" alt="">
                <p class="top-text">Já faz parte da Ensinio?
                    Acesse sua conta.</p>
                <div class="button"><span class="butt-text">Entrar</span></div>
            </div>
        </div>

    </div>
    <div class="about-page">
        <div class="content">
            <p class="hdr">
                pensamos em cada detalhe
            </p>
            <p class="about-page-text">Queremos que o aluno se sinta confortável enquanto aprende</p>
            <div class="items">
                <div class="item">
                    <img class="icon" src="{% static 'images/star.png' %}" alt="">
                    <p class="hd-t">
                        Trilhas de etapas
                    </p>
                    <div class="line"></div>
                    <p class="text">
                        Crie planos de estudos especificando aulas
                        e/ou cursos e definindo a ordem que seus
                        alunos devem estudar.
                    </p>
                </div>
                <div class="item">
                    <img class="icon" src="{% static 'images/star.png' %}" alt="">
                    <p class="hd-t">
                        Trilhas de etapas
                    </p>
                    <div class="line"></div>
                    <p class="text">
                        Crie planos de estudos especificando aulas
                        e/ou cursos e definindo a ordem que seus
                        alunos devem estudar.
                    </p>
                </div>
                <div class="item">
                    <img class="icon" src="{% static 'images/star.png' %}" alt="">
                    <p class="hd-t">
                        Trilhas de etapas
                    </p>
                    <div class="line"></div>
                    <p class="text">
                        Crie planos de estudos especificando aulas
                        e/ou cursos e definindo a ordem que seus
                        alunos devem estudar.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="down-page">
        <div class="about">
            <div class="about-h">
                about velocity
            </div>
            <div class="about-text">
                Lorem ipsum dolor sit amet, consectetur<br>
                adipiscing elit. Suspendisse varius enim in<br>
                eros elementum tristique. Duis cursus, mi<br>
                quis viverra ornare, eros dolor interdum<br>
                nulla, ut commodo diam libero vitae erat.
            </div>
        </div>
        <div class="useful">
            <div class="useful-h">
                useful links
            </div>
            <div class="useful-text">
                <div class="hr">Phasellus gravida semper nisi</div>
                <div class="hr">Suspendisse nisl elit</div>
                <div class="hr">Dellentesque habitant morbi</div>
                <div class="hr">Etiam sollicitudin ipsum</div>
            </div>
        </div>
        <div class="social">
            <div class="social-h">
                social
            </div>
            <div class="social-text">
                <div class="hr-s"><img src="{% static 'images/5.png' %}" class="meregi">Twitter</div> <br>
                <div class="hr-s"><img src="{% static 'images/6.png' %}" class="meregi">Facebook</div><br>
                <div class="hr-s"><img src="{% static 'images/7.png' %}" class="meregi">Pinterest</div><br>
                <div class="hr-s"><img src="{% static 'images/vector(3).png' %}" class="meregi">Google</div><br>
                <div class="hr-s"><img src="{% static 'images/vector(4).png' %}" class="meregi">Webflow</div><br>
            </div>
        </div>
    </div>
    <div class="sixth-page">
        <div class="text-six">Copyright Velocity Inc. Made in Webflow.</div>
    </div>
    </div>
</body>
</html>